<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form</title>

</head>
<body>
        <center>
            <form action = "/signup" method = "post">
                <p>Enter Your Name</p>
              <p><input type = 'text' name = 'username'></p>
                <p>Enter Your Email</p>
                <p><input type = 'email' name = 'email'></p>
                <p>Enter Your Password</p>
                <p><input type = 'password' name = 'password'></p>

              <p><input type = 'submit' value = 'Signup'></p>
           </form>
        </center>


</body>
</html>